body {
    margin: 0;
    background-color: burlywood;
}

/* Add CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 3.7rem;
    color: rgb(36, 21, 2);
    border: 1px solid burlywood;
    padding: 20px 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px white;
}

.logo {
    height: 60px;
    width: auto;
    margin-top: 10px;
    border: 1px solid burlywood;
    margin-right: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Nav bar to return to home page */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #445361;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
}

body {
    padding-top: 60px;
}

a {
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 2px 4px black;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    /* Add transition effect */
}

a:hover {
    background-color: #0d1013;
}

/* Game List Area */

.game-list-area {
    background-color: #0b4873;
    box-sizing: border-box;
    width: 65%;
    height: 40vh;
    max-height: 450px;
    max-width: 830px;
    margin: 80px auto 0;
    padding: 1%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.game-list-area>h2 {
    text-align: center;
    color: antiquewhite;
}

/* register link */
.register {
    text-align: center;
    font-weight: bold;
}

/* style for register anchor */
.register a {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.3rem;
    color: antiquewhite;
    text-shadow: 2px 2px 4px black;
}

/* Styles for the controls-area div */
.games-list {
    text-align: center;

}

/* Styles for the anchor tags within the controls-area div */
.games-list a {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
}

/* Styles for the buttons with different classes */
.btn--big {
    font-size: 34px;
    border-radius: 4px;
}

.btn--green {
    background-color: #4CAF50;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.btn--orange {
    background-color: #f39c12;
    color: white;
    text-shadow: 2px 2px 4px black;
}

/* Flag game page */

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 100vh;
    width: 100%;
}

.game-area>h2 {
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 4px white;
}

/* Adjusts the styles for the flag game question area */
.question-area {
    width: 80%;
    font-size: 2rem;
    text-align: center;
    margin: 30px auto;
}

.question-area #image {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.question-area input,
.question-area button {
    display: inline-block;
    margin: 10px auto;
}

.question-area .answer-box {
    border: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px white;
}

#message {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: darkblue;
}

.error-message {
    text-align: center;
    font-weight: bold;
    color: red;
    font-size: 1.2rem;
}

/* flag game score area style */
.score-area {
    margin: 5px auto;
    width: 70%;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}

#score {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

#remaining {
    color: rgb(36, 21, 2);
    font-weight: bold;
}

#answer-box {
    border: 2px solid #ccc;
    color: #445361;
    display: inline-block;
    height: 40px;
    width: 150px;
    font-size: 1.2rem;
    padding: 5px 10px;
}

.btn--gray {
    background-color: #445361;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
    text-shadow: 2px 2px 4px black;
    width: 150px;
    height: 50px;
    font-size: 1rem;
    transition: all 0.5s;
}

.btn--gray:active,
.btn--gray:hover {
    background-color: #0d1013;
}

.scores {
    display: inline-block;
    padding: 25px;
}


/* Math Game page */

.math-game-area {
    box-sizing: border-box;
    width: 85%;
    height: 70vh;
    max-height: 500px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    text-align: center;
}

.math-game-area>h2 {
    color: #0d1013;
    text-shadow: 2px 2px 4px aliceblue;
}

.math-question-area {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
}

.math-question-area span {
    padding: 0 15px;
}

#operand1 {
    color: darkblue;
}

#operand2 {
    color: darkblue;
}

.math-score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
    text-align: center;
}

.controls-area {
    width: 85%;
    margin: 30px auto;
}

#math-score {
    color: green;
    font-weight: bold;
}

#math-incorrect {
    color: red;
    font-weight: bold;
}

.math-answer-message {
    display: none;
    font-size: 1rem;
}

#math-answer-box {
    border: none;
    color: #445361;
    display: inline-block;
    height: 40px;
    width: 80px;
    font-size: 1.2rem;
}

.math-scores {
    display: inline-block;
    padding: 25px;
}

/* ----Mathgame Buttons--- */

.btn-m {
    width: 220px;
    height: 60px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
}

.btn-m:focus {
    outline: none;
}

.btn--big-m {
    padding-top: 10px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 0 30px;
    transition: all 0.5s;
}

.btn--big-m::after {
    content: attr(data-type);
    font-size: 1rem;
    color: #445361;
    position: relative;
    left: -0.5em;

}

.btn--blue-m {
    border-color: blue;
    color: blue;
}

.btn--blue-m:active,
.btn--blue-m:hover {
    background-color: darkblue;
    color: white;
}

.btn--orange-m {
    border-color: orange;
    color: orange;
}

.btn--orange-m:active,
.btn--orange-m:hover {
    background-color: darkorange;
    color: white;
}

.btn--red-m {
    border-color: red;
    color: red;
}

.btn--red-m:active,
.btn--red-m:hover {
    background-color: darkred;
    color: white;
}

.btn--green-m {
    border-color: green;
    color: green;
}

.btn--green-m:active,
.btn--green-m:hover {
    background-color: darkgreen;
    color: white;
}

.btn--gray-m {
    margin-top: -15px;
    background-color: #445361;
    text-shadow: 2px 2px 4px black;
    border: 1px transparent;
    border-radius: 20px;
}

.btn--gray-m:active,
.btn--gray-m:hover {
    background-color: #0d1013;
}


/* register page styling */

/* form style */
.reg-header {
    height: 30vh;
    width: 50%;
    margin: 0 auto;
    display: block;
}

.form-heading {
    text-align: center;
    font-size: 2rem;
    color: rgb(36, 21, 2);
    border: 1px solid burlywood;
    margin-top: 30px;
}

form {
    width: 50%;
    margin: 25px auto;
    display: block;
}

form div {
    margin: 20px 0;
}

label {
    font-size: 1rem;
}

input[type="text"],
input[type="submit"],
textarea {
    width: 100%;
    height: 40px;
    font-size: 1rem;
}

input[type="submit"] {
    margin-top: 20px;
    background-color: #445361;
    border: 1px transparent;
    border-radius: 20px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s;
}

input[type="submit"]:active,
input[type="submit"]:hover {
    background-color: #0d1013;
}



/* Media Query for responsiveness on smaller, mid, and big screens */
@media screen and (max-width: 830px) {

    .game-list-area,
    .math-game-area,
    .flag-game-area,
    .register {
        width: 90%;
    }

    .game-list-area {
        height: auto;
        max-height: none;
    }

    .game-area,
    .math-game-area,
    .flag-game-area,
    .register {
        padding: 5px;
    }

    .game-area h2,
    .math-question-area h2 {
        font-size: 2rem;
    }

    .question-area {
        font-size: 1.5rem;
    }

    .question-area #image {
        width: 70%;
    }

    .question-area input,
    .question-area button,
    .math-question-area input,
    .math-question-area button {
        width: 70%;
        font-size: 1rem;
    }

    .score-area,
    .math-score-area {
        font-size: 1rem;
    }

    .scores {
        padding: 10px;
    }

    .m-btn--big {
        width: 70px;
        height: 70px;
        font-size: 2.8rem;
        margin: 0 15px;
    }

    .m-btn--big::after {
        font-size: 0.8rem;
    }

    .m-btn {
        width: 150px;
        height: 40px;
        font-size: 1rem;
    }

    .m-btn--gray {
        margin-top: 0;
        width: 120px;
        height: 40px;
        font-size: 0.9rem;
    }

    .reg-header {
        height: 20vh;
    }

    .form-heading {
        font-size: 1.5rem;
    }

    label {
        font-size: 1.2rem;
    }

    input[type="text"],
    input[type="submit"] {
        height: 35px;
        font-size: 1rem;
    }

    .heading {
        flex-direction: column;
        text-align: center;

    }

    .logo {
        height: 40px;
        width: auto;
        margin-top: 5px;
        margin: 5px auto;
    }
}