body {
    background-color: burlywood;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 3.7rem;
    color: rgb(36, 21, 2);
    padding-left: -10px;
    border: 1px solid burlywood;
}

.logo {
    height: 40px;
    width: 60px;
    padding-right: -1px;
    margin-top: 1px;
    border: 1px solid burlywood;
}

/* Nav bar to return to home page */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #445361;
    /* Background color */
    padding: 10px;
    /* Add some padding to the navigation */
}

a {
    text-decoration: none;
    color: #fff;
    /* Text color */
    font-size: 18px;
    padding: 10px 20px;
    /* Add padding around the link */
    border-radius: 5px;
    /* Add rounded corners to the link */
    transition: background-color 0.3s;
    /* Add transition effect */
}

a:hover {
    background-color: #0d1013;
    /* Hover background color */
}


/* Game List Area */

.game-list-area {
    background-color: #0b4873;
    box-sizing: border-box;
    width: 65%;
    height: 40vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.game-list-area>h2 {
    text-align: center;
    color: antiquewhite;
}

/* Styles for the controls-area div */
.games-list {
    text-align: center;

}

/* Styles for the anchor tags within the controls-area div */
.games-list a {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
}

/* Styles for the buttons with different classes */
.btn--big {
    font-size: 34px;
    border-radius: 4px;
}

.btn--green {
    background-color: #4CAF50;
    color: white;
}

.btn--orange {
    background-color: #f39c12;
    color: white;
}

/* Flag game page */

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 100vh;
    width: 100%;
}

.game-area>h2 {
    text-align: center;
    font-weight: bold;
}

/* Adjust the styles for the flag game question area */
.question-area {
    width: 80%;
    font-size: 2rem;
    text-align: center;
    margin: 30px auto;
}

.question-area #image {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.question-area input,
.question-area button {
    display: inline-block;
    margin: 10px auto;
}

#message {
    text-align: center;
}

/* flag game score area style */
.score-area {
    margin: 5px auto;
    width: 70%;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}

#score {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

#remaining {
    color: rgb(36, 21, 2);
    font-weight: bold;
}

#answer-box {
    border: 2px solid #ccc;
    color: #445361;
    display: inline-block;
    height: 40px;
    width: 150px;
    font-size: 1.2rem;
    padding: 5px 10px;
}

.btn--gray {
    background-color: #445361;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 1rem;
    transition: all 0.5s;
}

.btn--gray:active,
.btn--gray:hover {
    background-color: #0d1013;
}

.scores {
    display: inline-block;
    padding: 25px;
}


/* Math Game page */

.math-game-area {
    box-sizing: border-box;
    width: 85%;
    height: 70vh;
    max-height: 500px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    text-align: center;
}

.math-question-area {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
}

.math-question-area span {
    padding: 0 15px;
}

.math-score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
    text-align: center;
}

.controls-area {
    width: 85%;
    margin: 30px auto;
}

#math-score {
    color: green;
    font-weight: bold;
}

#math-incorrect {
    color: red;
    font-weight: bold;
}

.math-answer-message {
    display: none;
    font-size: 1rem;
}

#math-answer-box {
    border: none;
    color: #445361;
    display: inline-block;
    height: 40px;
    width: 80px;
    font-size: 1.2rem;
}

.math-scores {
    display: inline-block;
    padding: 25px;
}

/* ----Mathgame Buttons--- */

.m-btn {
    width: 220px;
    height: 60px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
}

.m-btn:focus {
    outline: none;
}

.m-btn--big {
    padding-top: 10px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 0 30px;
    transition: all 0.5s;
}

.m-btn--big::after {
    content: attr(data-type);
    font-size: 1rem;
    color: #445361;
    position: relative;
    left: -0.5em;

}

.m-btn--blue {
    border-color: blue;
    color: blue;
}

.m-btn--blue:active,
.m-btn--blue:hover {
    background-color: darkblue;
    color: white;
}

.m-btn--orange {
    border-color: orange;
    color: orange;
}

.m-btn--orange:active,
.m-btn--orange:hover {
    background-color: darkorange;
    color: white;
}

.m-btn--red {
    border-color: red;
    color: red;
}

.m-btn--red:active,
.m-btn--red:hover {
    background-color: darkred;
    color: white;
}

.m-btn--green {
    border-color: green;
    color: green;
}

.m-btn--green:active,
.m-btn--green:hover {
    background-color: darkgreen;
    color: white;
}

.m-btn--gray {
    margin-top: -15px;
    background-color: #445361;
    border: 1px transparent;
    border-radius: 20px;
}

.m-btn--gray:active,
.m-btn--gray:hover {
    background-color: #0d1013;
}


/* register */

.register {
    text-align: center;
}

/* style for register anchor */
.register a {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.3rem;
    color: rgb(36, 21, 2);
}


/* Media Query for responsiveness on smaller screens */
@media screen and (max-width: 500px) {
    #quiz-container {
        max-width: 90%;
    }

    #image {
        width: 80%;
        height: auto;
    }

    #answer-box {
        width: 80%;
        font-size: 14px;
    }

    #submit-btn {
        font-size: 14px;
    }
}